@model IEnumerable<Internship_Section1.Models.Degree>

@{
    ViewBag.Title = "Degrees";
    Layout = "~/Views/Shared/LecturerView.cshtml";
}

<h2>Degrees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DegreeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegreeDuringInYears)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoursesOfDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.ListOfDegree)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
       
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DegreeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DegreeDuringInYears)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoursesOfDegree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.ListOfDegree)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DegreeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DegreeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DegreeID })
                </td>
            </tr>


    }

</table>
