@model IEnumerable<Internship_Section1.Models.UserDetail>

@{
    ViewBag.Title = "Profile Details";
    Layout = "~/Views/Shared/StudentView.cshtml";
}

<h2>Profile Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Forenames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstnameBasedOnForename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.LinkOfDegree)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Forenames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstnameBasedOnForename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.LinkOfDegree)
        </td>

        <td>
            @Html.ActionLink("Edit Profile", "Edit", new { id=item.UserID }) 
        
        </td>
    </tr>
}

</table>
